<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign - Up</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/user" method="POST">
        <label >Enter full name</label>
        <input type="text" name="name">
        <label >Enter Email</label>
        <input type="text" name="email">
        <label >Enter Password</label>
        <input type="text" name="password">
        <button type="submit">Sign UP</button>
    </form>
</body>
</html>